header{
    background-color: aliceblue;
}
h1{
    background-color: rgb(228, 245, 240);
}
nav{
    background-color: rgb(143, 232, 246);
}
main{
    background-color: rgb(143, 190, 230);
}
footer{
    background-color: rgb(148, 206, 224);
}
li{
    display: inline-block;
    width: 400px;
}
p{
    height: 20px;
}
